flows.json.txt
[{"id":"fc48620b.ebffb8","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"5cc43680.63c21","type":"ibmiot in","z":"fc48620b.ebffb8","authentication":"apiKey","apiKey":"30fbc1a0.0f0c2e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"9966","applicationId":"","deviceType":"+MKR","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["a1c5694b.dc0ee","f4bcf10d.64a5d8","a6f0ecb2.01d2b8","41582724.e68488","c2d4a4d4.22dc88","a4a76b26.1c7408"]]},{"id":"a1c5694b.dc0ee","type":"debug","z":"fc48620b.ebffb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":160,"wires":[]},{"id":"f4bcf10d.64a5d8","type":"ui_gauge","z":"fc48620b.ebffb8","name":"","group":"38183489.f54144","order":5,"width":0,"height":0,"gtype":"gage","title":"Distance","label":"units","format":"{{msg.payload.distance}}","min":"20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":320,"wires":[]},{"id":"a6f0ecb2.01d2b8","type":"ui_gauge","z":"fc48620b.ebffb8","name":"","group":"38183489.f54144","order":6,"width":0,"height":0,"gtype":"gage","title":"PH","label":"units","format":"{{msg.payload.PH}}","min":0,"max":"7","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":380,"wires":[]},{"id":"41582724.e68488","type":"ui_gauge","z":"fc48620b.ebffb8","name":"","group":"38183489.f54144","order":7,"width":0,"height":0,"gtype":"gage","title":"Flow speed","label":"units","format":"{{msg.payload.flowspeed}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":440,"wires":[]},{"id":"c2d4a4d4.22dc88","type":"ui_gauge","z":"fc48620b.ebffb8","name":"","group":"38183489.f54144","order":8,"width":0,"height":0,"gtype":"gage","title":"Blood Pressure","label":"units","format":"{{msg.payload.bloodpressure}}","min":0,"max":"7","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":520,"wires":[]},{"id":"a4a76b26.1c7408","type":"ui_gauge","z":"fc48620b.ebffb8","name":"","group":"38183489.f54144","order":9,"width":0,"height":0,"gtype":"gage","title":"Moist level","label":"units","format":"{{msg.payload.moistlevel}}","min":"40","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":600,"wires":[]},{"id":"30fbc1a0.0f0c2e","type":"ibmiot","z":"","name":"new_api","keepalive":"60","serverName":"185tcx.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"38183489.f54144","type":"ui_group","z":"","name":"moistlevel","tab":"df5d968f.06552","order":1,"disp":true,"width":"6","collapse":false},{"id":"df5d968f.06552","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]